.App {
  padding: 50px 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
}